
header{
    height: 100px;
    background-color: #E1DCD4;
    -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    position: sticky;
    text-align: right; /* Coloca os links na direita, a img não pois está livre */
    /*top: 0;*/ /* HEDER FIXO NO TOPO */ 
}

/* Logo marca wisual, topo esquerdo */
header img {
    position: absolute;
    max-width: 60px;
    top: 12%;
    left: 6%;
}

/* Links do cabeçalho */
div#headerlink {
    display: inline-flex;
    margin-top: 40px;
    margin-right: 11%;
}

a {
    margin-left: 15%;
    font-style: none;
    text-decoration: none;
    color: #fefffa;
    font-size: large;
}

/* Linha decorativa */
div#linha {
    display: inline-flex;
    position: absolute;
    top: 80px;
    right: 5%;
    left: 5%;
    width: 90%;
    height: 1.5px;
    background-color: white;
}


/* Media queries */
/* header links */
@media (max-width: 1190px) {
    div#headerlink {
        margin-right: 14%;
    }
}

@media (max-width: 830px) {
    div#headerlink {
        margin-right: 20%;
    }
}


/* linha decorativa do header */
@media (max-width: ) {
    div#linha {
        
    }
}